<style type="text/css">
  .new-image, h4 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
</style>

<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => "Images"} unless request.xhr? %>

<h4><%= Spree.t("new_image") %></h4>

<%= render 'spree/shared/error_messages', :target => @page_image %>

<%= form_for(@page_image, :url => admin_page_images_path(@page.path), :html => { :multipart => true }) do |form| %>
  <div class="new-image">
    <%= render "form", :form => form %>
  </div>
  <p class="form-buttons">
    <%= button Spree.t("create") %>
    <%= Spree.t('or') %> <%= link_to Spree.t("cancel"), "#", :id => "cancel_link", class: "btn btn-danger" %>
  </p>
<% end %>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    jQuery('#new_image_link').show();
    jQuery('#images').html('');
  });
</script>
