<%= tinymce_assets %>
<script type="text/javascript">
    $(window).load(function() {
      <%= tinymce_javascript %>
    });
</script>

<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => 'Contents'} %>

<% if @content.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @content %>
<% end %>

<h2><%= t('.new_content') %></h2>

<%= form_for([:admin, @page, @content], :html => { :multipart => true }) do |f| %>
  <%= render "form", :form => f %>

  <p class="form-buttons">
    <%= button t("create") %> <%= Spree.t('or') %> <%= link_to Spree.t('cancel'), collection_url, class: 'btn btn-danger' %>
  </p>
<% end %>

